.Section {
  height: 93vh;
  margin: 7vh 0 0 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/image/Meditation.webp");
  background-size: cover;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: 1;
  backdrop-filter: blur(10px) invert(0.1);
}

.title {
  padding: 0.5rem 1rem 0.5rem 0;
  margin: 0 1rem;
  font-weight: 800;
  color: whitesmoke;
  font-size: larger;
}

.field-area {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid rebeccapurple;
}

.field-area:focus {
  border: 1px solid rebeccapurple;
}
