.Section {
  height: 93vh;
  margin: 7vh 0 0 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/image/Meditation.webp");
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vh;
  height: 50vh;
  box-shadow: #1c1c1c88 5px 5px 5px;
  z-index: 1;
  background-color: #ffffffaa;
  backdrop-filter: blur(10px) invert(0.1);
  border-radius: 15px;
}

#fb-img {
  left: 10px;
  top: 10px;
}

.top-header {
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding: 0.5rem 1rem;
}

.inner {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#veri-img {
  width: 2rem;
}

.field-area {
  font-size: 1.1rem;
  text-align: left;
  margin: 1rem;
  padding: 1rem 1rem;
  border: none;
  background-color: #ffffff88;
  height: 60%;
  width: 80%;
  transition: ease-in-out 500ms;
}

.field-area:focus {
  outline: none;
  border: 2px solid rebeccapurple;
}
